 body {
        padding-bottom: 100px;
        overflow-x: hidden;
      }
      .navbar {
        box-shadow: 0px 3px 10px #000000c9 !important;
        position: fixed;
        width: 100%;
        z-index: 999;
      }
      .s1 {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 150px;
      }
      .carousel {
        width: 800px;
        height: auto;
      }

      .s2, .s3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
      }
      .accordion {
        width: 800px;
        height: auto;
        border: 2px solid black;
        border-radius: 3px;
      }
      .row{
        padding: 50px;
      }
      @media (width <=1000px) {
        .accordion {
          width: 90%;
          height: auto;
        }
      }